@font-face {
	font-family: "PF Agora Sans Pro";
	font-display: swap;
	src: url("@fonts/PFAgoraSansPro-Medium.woff2") format("woff2"), url("@fonts/PFAgoraSansPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@mixin PFAgoraSansPro {
	font-family: "PF Agora Sans Pro", sans-serif;
	font-weight: 500;
	line-height: 140%;
}