* {
  @include PFAgoraSansPro;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: $font_size;
  line-height: $line_height;
  color: $color-black;
}

input {
  background-color: inherit;
  font: inherit;
  border-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

section {
  position: relative;
}