@function rem($size) {
   $remSize: calc($size / $font-size);
   @return #{$remSize}rem;
}

// font params
$font_size: 16px;
$line_height: 24px;

// colors
$color_white: #FFFFFF;
$color_black: #000000;
$color_main: #FF8400